<div class="container pt-5 pb-5">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">City</th>
        </tr>
        </thead>

        <tr>
          <td>1</td>
          <td>Rehan </td>
          <td>030303000</td>
          <td>grw</td>
        </tr>
        <tr>
          <td>2</td>
          <td>michel </td>
          <td>03045603000</td>
          <td>Faislabad</td>
        </tr>
        <tr>
          <td>3</td>
          <td>craig </td>
          <td>0300012344</td>
          <td>gujrat</td>
        </tr>
        <tr>
          <td>4</td>
          <td>luotus </td>
          <td>45632152</td>
          <td>rawalpindi</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rehan </td>
          <td>030303000</td>
          <td>grw</td>
        </tr>
        <tr>
          <td>6</td>
          <td>gill </td>
          <td>200000</td>
          <td>viharri</td>
        </tr>       
        </table>

        
</div>